body {
    font-family: Poppins, sans-serif;
    background-color: #b3c2e6;
}

.employee-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 25px 2px #b3b3b3;
    border-radius: 12px;
    border-collapse: collapse;
}

.employee-table td {
    padding: 20px 30px;
    font-size: 14px;
    color: #232323;
    text-align: left;
}

/* Adding different tables incase of changes in future */

.asset-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 25px 2px #b3b3b3;
    border-radius: 12px;
    border-collapse: collapse;
}

.asset-table td {
    padding: 20px 30px;
    font-size: 14px;
    color: #232323;
    text-align: left;
}

thead {
    background-color: #546db5;
}

th {
    padding: 20px 30px;
    font-size: 14px;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

.btn {
    background-color: #546db5;
    color: white;
    letter-spacing: 0.05rem;
    border-radius: 0.3rem;
    padding: 0.7rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-log {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.btn-log:hover {
    transform: translateY(-5px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.btn-delete,
.btn-edit {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-delete:hover,
.btn-edit:hover {
    transform: translateY(-5px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.log-button {
    display: flex;
    justify-content: center;
}

/* data entry begins */

.addedit {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #546db5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* data entry ends */
